{% extends 'base/main.html' %} {% load static %} {% block content %}

<main>
  <!--                  Room Name + UserList                      -->

  <section id="room-name-wrapper">
    <div class="Alkalami bg-gradient-dark display-6 pt-3">
      ROOM:
      <span id="room-name"></span>
      <img
        src="https://demos.creative-tim.com/soft-ui-design-system-pro/assets/img/shapes/waves-white.svg"
        alt="pattern-lines"
        class="position-absolute start-0 top-0 w-100 opacity-6"
      />
    </div>

    <div id="AllUsers" class="">
      <div
        class="w-25 display-6 d-flex justify-content-center m-auto -warning mb-0"
      >
        <span class="bg-gradient-warning-border">Users:</span>
      </div>
    </div>
  </section>

  <!--                                   End of Room Name + UserList              -->

  <!------------------------------------------------ Video Stream  Section ------------------------------------------------>

  <section id="video-streams"></section>

  <!------------------------------------------------ End of Video Stream  Section ------------------------------------------------>

  <!------------------------------------------------ Toggle Buttons  ------------------------------------------------>

  <footer
    class="footer py-5 bg-gradient-dark position-relative overflow-hidden"
  >
    <img
      src="https://demos.creative-tim.com/soft-ui-design-system-pro/assets/img/shapes/waves-white.svg"
      alt="pattern-lines"
      class="position-absolute start-0 top-0 w-100 opacity-6"
    />
    <div class="container position-relative">
      <div class="d-md-flex custom_row justify-content-evenly">
        <div class="icon-wrapper">
          <i class="fa-solid fa-microphone control-icon" id="mic-btn"></i>
        </div>
        <div class="icon-wrapper">
          <i class="fa-solid fa-video control-icon" id="camera-btn"></i>
        </div>

        <div class="icon-wrapper">
          <i class="fa-regular fa-user-xmark control-icon" id="leave-btn"></i>
        </div>
        <div id="timer" class="Alkalami"></div>
      </div>
    </div>
  </footer>

  <!------------------------------------------------ End of Toggle Buttons  ------------------------------------------------>
</main>

<script
  type="text/javascript"
  src="{% static 'assets/AgoraRTC_N-4.14.0.js' %}"
></script>

<script type="text/javascript" src="{% static 'js/streams.js' %}"></script>

<script></script>

{% endblock content %}
